<form>
<div id="post-form" class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title:</label>
  <input type="text" class="form-control" id="blog-title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content:</label>
  <textarea class="form-control" id="blog-content" rows="3"></textarea>
</div>

<button type="submit" id="submit-post"> New Post </button>
</form>